{% extends 'base.html' %}

{% block title %} InsecureWebApp :: Home {% endblock %}

{% block content %}

<div class="site-section bg-light">
  <div class="container min-vh-100">

    <div class="row">
      <div class="col-md-3 mr-auto">
        {% set active_page = "home" %}
        {% include "includes/sidebar.html" ignore missing %}
      </div>

      <div class="col-md-9">

        {% include "includes/alerts.html" ignore missing with context %}

        <form class="form-horizontal">
          <div class="jumbotron">
            <h1 class="display-4">Hello, <span>{{ g.user['first_name'] }}&nbsp;{{ g.user['last_name'] }}</span></h1>
            <p class="lead">
              Welcome back to IWA Pharmacy Direct. This is your home page where you can check the status of your orders,
              view any messages and update your profile.</p>
            <hr class="my-4">

            <div class="col-md-12">
              <div class="alert alert-light" role="alert">
                You have no new <a href="{{ url_for('users.messages') }}">messages</a>.
              </div>
            </div>

            <div class="col-md-12">
              <div class="alert alert-info" role="alert">
                You have no unshipped <a href="{{ url_for('users.orders') }}">orders</a>.
              </div>

            </div>

            <div class="col-md-12 mt-4">
              <a class="btn btn-primary" href="/products">Shop Now</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  
  </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}