{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} InsecureWebApp :: Messages {% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="site-section bg-light">
    <div class="container min-vh-100">

        <div class="row">
            <div class="col-md-3 mr-auto">
                {% set active_page = "messages" %}
                {% include "includes/sidebar.html" ignore missing %}
            </div>

            <div class="col-md-9">

                {% include "includes/alerts.html" ignore missing with context %}

                <h2>This page has not been implemented yet.</h2>

            </div>

        </div>

    </div>

</div>

{% endblock %}