{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} InsecureWebApp :: Security {% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="site-section">
    <div class="container min-vh-100">

        <div class="row">
            <div class="col-md-3 mr-auto">
                {% set active_page = "security" %}
                {% include "includes/sidebar.html" ignore missing %}
            </div>

            <div class="col-md-9">

                {% include "includes/alerts.html" ignore missing with context %}

                <form class="form-horizontal">

                    <div class="row">
                        <div class="col-md-12">
                            <label for="username" class="text-black">Username</label>
                            <input type="text" readonly class="form-control" id="username" name="username" value="{{ user.username }}">
                            <small id="usernameHelp" class="form-text text-muted">Your username cannot be changed from the website.</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="email" class="text-black">Email Address </label>
                            <input readonly value="{{ user.email }}" type="text" class="form-control" id="email" name="email">
                        </div>
                        <div class="col-md-6">
                            <label for="phone" class="text-black">Mobile </label>
                            <input readonly value="{{ user.phone }}" type="text" class="form-control" id="phone" name="phone" placeholder="Mobile Number">
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-12">
                            <a class="btn btn-primary" href="{{ url_for("users.update_security") }}">Update Details</a>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-md-12">
                        <div>
                            {% if user.otp_enabled %}
                                <p class="text-black">
                                    Two-Factor Authentication (2FA) is enabled for your account. Please refer to the following instructions:
                                </p>
                                <ul>
                                    <li>Download <a href="">Google Authenticator</a> or similar app to your mobile</li>
                                    <li>Setup a new Authenticator</li>
                                    <li>Scan the QR code or enter the Secret Token shown below</li>
                                </ul>
                
                                <img src="data:image/png;base64,{{ qr_b64 }}" alt="QR Code">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="secret-input" class="text-black">Secret Token</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="secret-input" name="secret-input" value="{{ secret }}"
                                                readonly>
                                            <div class="input-group">
                                                <button class="btn btn-outline-secondary" type="button" id="copy-secret-button"
                                                    >Copy to clipboard</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>                             
                            {% else %}
                                <p class="text-black">Two-Factor Authentication (2FA) is not enabled for your account.</p>  
                            {% endif %}                              
                        </div>
                    </div>
                </div>           

            </div>

        </div>

    </div>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('#copy-secret-button').on("click", function(e) {
                e.preventDefault();
		        copy_input($('#secret-input'));
            });
        });

        // copy function
        function copy_input($input) {
            $input.focus();
            $input.select();
            try {  
                var successful = document.execCommand('copy'); 
            } catch(err) {  
                console.error('Unable to copy'); 
            }
        }
    })(jQuery);
</script>
{% endblock %}