{% extends 'base.html' %}

{% block title %} InsecureWebApp :: Dashboard {% endblock %}

{% block content %}

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="jumbotron">
          <h1 class="display-4">Hello, <span>{{ g.user['first_name'] }}&nbsp;{{ g.user['last_name'] }}</span></h1>
          <p class="lead">
              Welcome back to IWA Pharmacy Direct. This is your home page where you can check the status of your orders,
              view any messages and update your profile.</p>
          <hr class="my-4">

          <div class="col-md-12">
              <div class="alert alert-light" role="alert">
                  You have no new messages.
              </div>
          </div>

          <div class="col-md-12">
              <div class="alert alert-info" role="alert">
                  You have no unshipped order(s)</a>.
              </div>
              
          </div>

          <div class="col-md-12 mt-4">
              <a class="btn btn-primary" href="/products">Shop Now</a>
              <a class="btn btn-primary" href="/auth/enable_2fa">Enable 2FA</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}

{% endblock %}
