/* Base settings */

body {
    min-height: 100vh;
    line-height: 1.7;
    color: #8c92a0;
    font-weight: 300;
    font-size: 16px;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

::selection {
    background: #000;
    color: #fff;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

.btn {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    text-transform: uppercase;
    border-width: 2px;
}

.btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn.btn-primary:hover {
    background: transparent;
    color: #51eaea;
}

.btn-white {
    color: #fff;
}

.btn.btn-black {
    background: #000;
    color: #000;
}

.btn.btn-black:hover, .btn.btn-black:active, .btn.btn-black:focus {
    background-color: #51eaea;
    color: #000;
}

.btn-white:hover, .btn-white:active, .btn-white:focus {
    color: #fff !important;
}

.btn-nav {
    min-width: 75px;
    background: transparent;
    color: #eee;
    text-transform: capitalize;
    font-size: 1em;
}

.btn-nav:hover {
    text-decoration: underline;
}

.form-control {
    height: 43px;
}

.form-control:active, .form-control:focus {
    border-color: #51eaea;
}

.form-control:hover, .form-control:active, .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.site-section {
    padding: 1.0em 0;
}

.site-section-sm {
    padding: 1.0em 0;
}

@media (min-width: 768px) {
    .site-section {
        padding: 1.0em 0;
    }
}

.site-section.site-section-sm {
    padding: 2em 0;
}

.border-top {
    border-top: 1px solid #edf0f5 !important;
}

/* Site Header */
.site-header {
    background: #3c3d41;
    color: #fff;
    position: relative;
}

/* Site Footer */
.site-footer {
    font-size: 12px;
    background-color: #3c3d41;
    padding: 20px 40px;
    color: rgba(255,255,255,1.00);
    left: 0;
    right: 0;
}
.site-footer .footer-brand, .site-footer .footer-nav, .site-footer .footer-social, .site-footer .footer-ns { padding:10px 25px; }
.site-footer .footer-nav, .site-footer .footer-social, .site-footer .footer-ns { border-color: transparent; }
.site-footer .footer-brand h2 { margin:0px 0px 10px; }
.site-footer .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }
.site-footer .footer-nav ul.pages { list-style:none; padding:0px; }
.site-footer .footer-nav ul.pages li { padding:5px 0px;}
.site-footer .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.site-footer .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.site-footer .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}
.site-footer .footer-nav ul.list { list-style:none; padding:0px; }
.site-footer .footer-nav ul.list li { padding:5px 0px;}
.site-footer .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.site-footer .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }
.site-footer .footer-social ul { list-style:none; padding:0px; }
.site-footer .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.site-footer .footer-social li { padding:5px 4px;}
.site-footer .footer-social a { color:rgba(255,255,255,1.00);}
.site-footer .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.site-footer .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}
.site-footer .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

/* Logo */
.site-logo a {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 22px;
    color: #fff !important;
    font-weight: 900;
}
.site-logo a:hover {
    text-decoration: none;
}

/* Navbar */
.site-navbar {
    margin-bottom: 0px;
    z-index: 1999;
    position: relative;
    top: 0;
    width: 100%;
    background-color: #3c3d41;
}
.dropdown-menu {
    background-color:#3c3d41;
}
.dropdown-menu li {
  position: relative;
} 
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-submenu {
    position: relative; /* For relative positioning within the parent dropdown */
    display: inline-block; /* Ensure it's treated as a block within its parent */
}
.dropdown-submenu .dropdown-menu {
    left: 100%; /* Position the submenu to the right of the parent */
    top: 0; /* Position the submenu at the top of the parent */
    display: none; /* Initially hide the submenu */
    position: absolute; /* Position the submenu absolutely within its parent */
}
.dropdown-submenu:hover .dropdown-menu {
    display: block; /* Show the submenu on hover */
}

/* Blocks */
.site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
/*
.site-blocks-cover, .site-blocks-cover > .container > .row {
    min-height: 700px;
    height: calc(100vh);
}
.site-blocks-cover.inner-page, .site-blocks-cover.inner-page .row {
    min-height: 400px;
    height: 700px;
}*/
.site-blocks-cover h2 {
    font-size: 14px;
    font-weight: normal;
    color: #000;
    letter-spacing: .2em;
    text-transform: uppercase;
}
@media (max-width: 991.98px) {
    .site-blocks-cover .featured-hero-product {
        margin-top: 10%;
        position: absolute;
    }
}
.site-blocks-cover h1 {
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase;
}
@media (min-width: 768px) {
    .site-blocks-cover h1 {
        font-size: 50px;
    }
}
.site-blocks-cover p {
    color: #fff;
    font-size: 20px;
    line-height: 35px;
}
.site-blocks-cover .intro-text {
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
}
.site-blocks-cover.inner-page .site-block-cover-content {
    margin-top: 20%;
    text-align: center;
}
@media (min-width: 768px) {
    .site-blocks-cover.inner-page .site-block-cover-content {
        margin-top: 30%;
    }
}
.site-blocks-cover .main-title {
    color: #000;
    text-shadow: 2px 2px #cccccc;
}
.site-blocks-cover .sub-title {
    color: #000;
    text-shadow: 2px 2px #cccccc;
}
@media (max-width: 991.98px) {
    .site-blocks-cover .img-1 {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}
.site-blocks-cover .btn {
    padding: 20px 30px;
}
.site-blocks-1 {
    border-bottom: 1px solid #edf0f5;
}
.site-blocks-1 .divider {
    position: relative;
}
.site-blocks-1 .divider:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    right: 10px;
    background: #edf0f5;
}
.site-blocks-1 .divider:last-child:after {
    display: none;
}
.site-blocks-1 .icon span {
    position: relative;
    color: #6c757d;
    top: -10px;
    font-size: 50px;
    display: inline-block;
}
.site-blocks-1 .text h2 {
    color: #25262a;
    letter-spacing: .05em;
    font-size: 18px;
}
.site-blocks-1 .text p:last-child {
    margin-bottom: 0;
}
.site-blocks-2 .block-2-item {
    display: block;
    position: relative;
}
.site-blocks-2 .block-2-item:before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
}
.site-blocks-2 .block-2-item .image {
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
}
.site-blocks-2 .block-2-item .image img {
    margin-bottom: 0;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}
.site-blocks-2 .block-2-item .text {
    z-index: 2;
    bottom: 0;
    padding-left: 20px;
    position: absolute;
    width: 100%;
}
.site-blocks-2 .block-2-item .text > span, .site-blocks-2 .block-2-item .text h3 {
    color: #fff;
}
.site-blocks-2 .block-2-item .text > span {
    font-size: 12px;
    letter-spacing: .1em;
    font-weight: 900;
}
.site-blocks-2 .block-2-item .text h3 {
    font-size: 40px;
}
.site-blocks-2 .block-2-item:hover .image img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.block-3 .no-direction .owl-nav {
    display: none;
}
.block-3 .owl-stage {
    padding-top: 40px;
    padding-bottom: 40px;
}
.block-3 .owl-nav .owl-prev, .block-3 .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 2rem;
}
.block-3 .owl-nav .owl-prev {
    left: 0;
}
.block-3 .owl-nav .owl-next {
    right: 0;
}
.block-3 .owl-dots {
    text-align: center;
}
.block-3 .owl-dots .owl-dot {
    display: inline-block;
}
.block-3 .owl-dots .owl-dot > span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    background: #ccc;
}
.block-3 .owl-dots .owl-dot.active > span {
    background: #51eaea;
}
.block-3 .product {
    border-right: none !important;
    border-left: none !important;
}
.block-3 .product .item {
    border: 1px solid #eee;
}

/* Misc */
.sign-in {
    width: 100px;
}
.bag {
    position: relative;
}
.bag .number {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    color: #000;
    font-size: 12px;
    background: #51eaea;
    right: -5px;
}
.title-section h2 {
    padding-left: 30px;
    border-left: 4px solid #51eaea;
    display: inline-block;
    color: #000;
}
.title-section.text-center h2 {
    border-left: none;
    position: relative;
    padding-left: 0px;
    padding-bottom: 20px;
}
.title-section.text-center h2:after {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 70px;
    height: 4px;
    background: #51eaea;
    content: "";
}
.product-item {
    overflow: hidden;
    height: 100%;
    position: relative;
}
.product-item .product-category {
    position: absolute;
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    color: #000;
    z-index: 8;
    top: 60%;
    left: 50%;
    font-size: 20px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.product-item .product-category span {
    color: #ced4da;
    font-size: 12px;
}
.product-item .product-category:hover {
    background: #000;
    color: #fff;
}
.product-item .product-category:hover span {
    color: rgba(255, 255, 255, 0.5);
}
.product-item.full-height {
    height: 100% !important;
}
@media (max-width: 991.98px) {
    .product-item.full-height {
        height: 300px !important;
        margin-bottom: 30px;
    }
}
.product-item.bg-gray {
    background: #f9f9f9;
}
.product-item.sm-height {
    height: 300px;
    padding: 40px;
}
.product-item.md-height {
    height: 700px;
    padding: 40px;
}
.product-item img {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    -ms-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    position: absolute;
}
.item-entry .product-item {
    margin-bottom: 30px;
}
.item-entry .item-title {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0;
}
.item-entry .item-title a {
    color: gray;
}
.item-entry .item-title a:hover {
    color: #000;
}
.item-entry .item-price {
    color: #000;
    font-weight: normal;
}
.item-entry .item-price del {
    color: #b3b3b3;
}
.custom-border-bottom {
    border-bottom: 1px solid #f9f9f9;
}
.custom-border-top {
    border-top: 1px solid #f9f9f9;
}
.height-auto {
    height: auto !important;
}
.featured-hero-product {
    text-align: center;
}
.featured-hero-product h1, .featured-hero-product h4 {
    color: #000;
}
.featured-hero-product h1 {
    font-size: 4rem;
    letter-spacing: 1rem;
}
@media (max-width: 991.98px) {
    .featured-hero-product h1 {
        font-size: 2rem;
    }
}
.featured-hero-product h4 {
    font-size: 1rem;
}
.featured-hero-product .price {
    font-size: 2rem;
    color: #000;
}
@media (max-width: 991.98px) {
    .featured-hero-product .price {
        font-size: 1.5rem;
    }
}
.featured-hero-product .price del {
    margin-left: 10px;
    color: #6c757d;
}
.border {
    border: 1px solid #eee !important;
}
.item h3 a {
    color: #000;
}
.item .price {
    color: #000;
}
.tag {
    position: absolute;
    background: #e86b00;
    color: #fff;
    letter-spacing: .2em;
    padding: 7px 20px;
    font-size: .8rem;
    font-weight: 900;
    top: 0;
    left: 0;
    text-transform: uppercase;
    z-index: 2;
    -webkit-transform: rotate(-90deg) translateX(-100%) translateY(-70%);
    -ms-transform: rotate(-90deg) translateX(-100%) translateY(-70%);
    transform: rotate(-90deg) translateX(-100%) translateY(-70%);
}
.testimony blockquote p {
    color: #000;
    font-family: "Crimson Text", serif;
    font-size: 1.3rem;
    line-height: 1.5;
    font-style: italic;
}
.bg-image {
    background-size: cover;
    position: relative;
}
.bg-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(81, 234, 234, 0.9);
    z-index: 1;
}
.bg-image > .container {
    position: relative;
    z-index: 2;
}
.section-overlap {
    margin-top: -100px;
}
.custom-pill .nav-item {
    margin-right: 4px;
}
.custom-pill .nav-item a {
    background: #f4f4f4;
    color: #000 !important;
}
.custom-table th {
    color: #000;
    font-weight: normal;
}
.custom-table td {
    color: #000;
}
.breadcrumb {
    list-style: none;
    font-size: x-large;
}
.modal {
    z-index: 10000000 !important;
}
.icon-with-badge{ 
  position: relative;
}
.icon-with-badge span{
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
}
