{% extends 'base.html' %}

{% block title %} InsecureWebApp :: {{ product.name }} {% endblock %}

{% block content %}
<!-- page title -->
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="{{ url_for('products.index') }}">Shop</a> <span
                    class="mx-2 mb-0">/</span> <strong>{{ product.name }}</strong></div>
        </div>
    </div>
</div>

<!-- content -->
<div class="site-section-sm">

    <div class="container">

        <div class="row">

            <div class="col-md-5 mr-auto">
                <div class="border text-center">
                    {% if product.image %}
                    <img src="{{ url_for('static', filename='img/products/' + product['image']) }}" alt="Image"
                        class="img-fluid p-5">
                    {% else %}
                    <img src="{{ url_for('static', filename='img/products/awaiting-image-sm.png') }}" alt="Image"
                        class="img-fluid p-5">
                    {% endif %}
                </div>
                <div class="mt-4">
                    <h5>Product Information</h5>
                    <table class="table table-sm table-borderless">
                        <tr>
                            <th scope="row">Code:</th>
                            <td>{{ product.code }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Manufacturer:</th>
                            <td>Unknown</td>
                        </tr>
                        <tr>
                            <th scope="row">Contents:</th>
                            <td>Unspecified</td>
                        </tr>
                        <tr>
                            <th scope="row">Date First Available:</th>
                            <td>{{ product.date_created }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a href="{{ url_for('products.download', filename=product['code']+'/datasheet.pdf') }}">
                                    <i class="bi bi-file-arrow-down"></i></i> Download Datasheet
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6 item-entry">
                <h2 class="text-black">
                    <c:out value="${p.name}" />
                </h2>
                <span class="product-rating">
                    {% for _ in range(1, product.rating+1) %}
                    <i class="bi bi-star-fill"></i>
                    {% endfor %}
                    {% for _ in range(product.rating, 5) %}
                    <i class="bi bi-star"></i>
                    {% endfor %}
                    <br/>
                    <span class="product-reviews pl-2"><a href="#reviews-start">Customer Reviews</a>&nbsp(<span
                            id="review-count">{{ reviews|length }})</span>
                    </span>

                    <h6 class="mt-2">Summary</h6>
                    <p>{{ product.summary }}</p>
                    <h6>Description</h6>
                    <p>{{ product.description }}</p>

                    <h5 class="price pt-2 pb-4 item-price">
                        {% if product.on_sale %}
                        <del>
                            <span>
                                {{ "${:,.2f}".format(product.price) }}
                            </span>
                        </del>
                        <span>&ndash;</span>
                        <span>
                            {{ "${:,.2f}".format(product.sale_price) }}
                        </span>
                        {% else %}
                        <span>
                            {{ "${:,.2f}".format(product.price) }}
                        </span>
                        {% endif %}
                        {% if product.in_stock %}
                        <span class="badge badge-success">In Stock</span>
                        {% else %}
                        <span class="badge badge-danger">Out of Stock</span>
                        <span>In stock in {{ product.time_to_stock }} days<span>
                        {% endif %}
                    </h5>
                    <div class="cart-add">
                        <div class="mb-4">
                            <div class="input-group mb-3" style="max-width: 180px;">
                                    <button id="quantity-minus" class="btn btn-outline-primary js-btn-minus"
                                        type="button">&minus;</button>
                                <input class="form-control text-center" value="1" id="quantity-value" readonly>
                                    <button id="quantity-plus" class="btn btn-outline-primary js-btn-plus"
                                        type="button">&plus;</button>
                            </div>
                        </div>
                        <p>
                            {% if product.in_stock %}
                            <a id="add-to-cart" href="#" onclick="return false;"
                                class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Add To Cart</a>
                            {% else %}
                            <a id="add-to-cart" href="#" onclick="return false;"
                                class="disabled buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Add To Cart</a>
                            {% endif %}
                        </p>
                    </div>

            </div>

        </div>

        <span id="reviews-start"></span>
        <div class="product-reviews rows">
            <h4>Customer Reviews</h4>
            {% if not reviews %}
            <p>There are no reviews.</p>
            {% endif %}
            {% for r in reviews %}
            <div class="col-sm-12 item mb-4">
                <h6 class='text-dark pt-2'>Review by <em>{{ r.username }}</em> on {{ r.review_date.strftime('%d %B, %Y') }}</h6>
                <p>{{ r.comment }}</p>
            </div>
            {% endfor %}
        </div>

    </div>

</div>
{% endblock %}