{% extends "base.html" %}

{% block title %} InsecureWebApp :: Error {% endblock %}

{% block content %}

    <div class="site-section">
        <div class="container">
            <h1>Sorry, something has gone wrong</h1>
            <p>We're unable to fulfill your request. Rest assured we have been notified and
                are looking into the issue. Please refresh your browser. <br/>
                If the error continues please contact our <a href="mailto:support@iwa.example.com">support team</a>. <br/>
                <a href="{{ url_for('index') }}">Go back to IWA Pharmacy Direct</a></p>
        </div>
    </div>

{% endblock %}