{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} InsecureWebApp :: Login & Security {% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="site-section">
    <div class="container">

        <div class="row">
            <div class="col-md-3 mr-auto">
                {% set active_page = "security" %}
                {% include "includes/sidebar.html" ignore missing %}
            </div>

            <div class="col-md-9">

                {% include "includes/alerts.html" ignore missing with context %}

                <form method="post" class="form-horizontal">

                    <div class="row">
                        <div class="col-md-12">
                            <label for="username" class="text-black">Username</label>
                            <input type="text" readonly class="form-control" id="username" name="username" value="{{ users.username }}">
                            <small id="usernameHelp" class="form-text text-muted">Your username cannot be changed from the website.</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="email" class="text-black">Email Address </label>
                            <input value="{{ users.email }}" type="text" class="form-control" id="email" name="email">
                        </div>
                        <div class="col-md-6">
                            <label for="phone" class="text-black">Mobile </label>
                            <input value="{{ users.phone }}" type="text" class="form-control" id="phone" name="phone" placeholder="Mobile Number">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="mfaType" class="text-black">Multi-Factor Authentication <span class="text-danger"></span></label>
                            <select id="mfaType" class="form-control" name="mfaType">
                                <option value="MFA_NONE" selected="selected">None</option>
                                <option value="MFA_EMAIL">Email</option>
                                <option value="MFA_SMS">SMS</option>
                                <option value="MFA_APP">Authenticator App</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="password" class="text-black">Password <span class="text-danger"></span></label>
                            <input type="text" class="form-control" id="password" name="password" value="">
                            <small id="passwordHelp" class="form-text text-muted">Enter your new password.</small>
                            
                        </div>
                        <div class="col-md-6">
                            <label for="confirmPassword" class="text-black">Confirm Password <span class="text-danger"></span></label>
                            <input type="text" class="form-control" id="confirmPassword" name="confirmPassword" value="">
                            <small id="confirmPasswordHelp" class="form-text text-muted">Confirm your new password.</small>
                        </div>
                    </div>

                    <div class="row border border-primary">
                        <div class="col-md-12">
                            <label for="password" class="text-black">Password</label>
                            <input type="password" class="form-control" id="password" autocomplete="off" value="" name="password">
                            <small id="passwordHelp" class="form-text text-muted">Enter your current password to save changes.</small>
                            
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-12">
                            <button id="submit-btn" type="submit" class="btn btn-primary">Submit</button>
                            <a class="btn btn-info" href="{{ url_for("users.security") }}">Cancel</a>
                        </div>
                    </div>
                </form>
 
            </div>

        </div>

    </div>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('#copy-secret-button').on("click", function(e) {
                e.preventDefault();
		        copy_input($('#secret-input'));
            });
        });

        // copy function
        function copy_input($input) {
            $input.focus();
            $input.select();
            try {  
                var successful = document.execCommand('copy'); 
            } catch(err) {  
                console.error('Unable to copy'); 
            }
        }
    })(jQuery);
</script>
{% endblock %}