{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} InsecureWebApp :: Login {% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="site-section">
    <div class="container h-100">

        {% include "includes/alerts.html" ignore missing with context %}

        <div class="row align-items-center">
            <img src="{{ url_for('static', filename='img/login_logo.png') }}" class="rounded mx-auto d-block"
                style="padding-top:20px;" alt="IWA Pharmacy Direct">
        </div>

        <div class="row justify-content-center align-items-center">

            <form method="post" class="form-login">
                <div class="invisible">Site message</div>
                <h1 class="h3 mb-3 font-weight-normal">Enter your details</h1>

                <div class="form-group">
                    <input type="text" id="username" name="username" class="form-control" autofocus="autofocus"
                        placeholder="Username or Email">
                </div>
                <div class="form-group mb-0">
                    <input type="password" id="password" name="password" class="form-control" autocomplete="off"
                        placeholder="Password">
                </div>

                <button class="btn btn-lg btn-primary btn-block" name="login-submit" id="login-submit"
                    type="submit">Login</button>
            </form>

        </div>

    </div>

</div>

{% endblock %}