{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="site-section">

    <div class="container">

        <div class="row justify-content-center align-items-center">
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
        </div>

        <div class="row align-items-center">
            <img src="{{ url_for('static', filename='img/login_logo.png') }}" class="rounded mx-auto d-block" style="padding-top:20px;" alt="IWA Pharmacy Direct">
        </div>

        <div class="row justify-content-center align-items-center">

            <form method="post" class="form-verify">
                <div class="invisible">Site message</div>
                <h1 class="h3 mb-3 font-weight-normal">Enter your OTP</h1>

                <div class="form-group">
                    <input type="text" id="otp" name="otp" class="form-control"
                           autofocus="autofocus" placeholder="Enter OTP">
                </div>

                <button class="btn btn-lg btn-primary btn-block" name="verify-submit" id="verify-submit" type="submit">Verify</button>
            </form>

        </div>

    </div>

</div>

{% endblock %}