{% extends 'base.html' %}

{% block title %} InsecureWebApp :: Home {% endblock %}

{% block content %}
<div class="site-blocks-cover" style="background-image: url('/static/img/home_hero_1a.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto order-lg-2 py-5">
        <div class="site-block-cover-content text-center">
          <h2 class="sub-title">Local Service, Global Reach</h2>
          <h1 class="main-title">Welcome To IWA Pharmacy Direct</h1>
        </div>
        <div class="p-5 text-center bg-body-tertiary rounded-3" style="opacity: 0.9">
          {% if session.loggedin %}
          <h4>Welcome back</h4>
          {% else %}
          <h4>Welcome guest</h4>
          {% endif %}
          <p class="pt-4">
            {% if not session.loggedin %}
            <a href="{{ url_for('auth.register') }}" class="btn p-2 btn-outline-info"> Register </a>
            {% endif %}
            <a href="{{ url_for('products.index') }}" class="btn p-2 btn-outline-success">Shop Now</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 text-bg-primary">
          <div class="card-body">
              <h2>Free Shipping</h2>
              <p class="card-text">
                Amet sit amet dolor
                <strong>Lorem, ipsum dolor sit amet consectetur adipisicing.</strong>
              </p>
              <button type="button" class="w-100 btn btn-lg btn-primary">Find out More</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 text-bg-success">
          <div class="card-body">
              <h2>Sale 50% Off</h2>
              <p class="card-text">
                Amet sit amet dolor
                <strong>Lorem, ipsum dolor sit amet consectetur adipisicing.</strong>
              </p>
              <button type="button" class="w-100 btn btn-lg btn-success">Find out More</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 text-bg-danger">
          <div class="card-body">
              <h2>Buy a Gift Card</h2>
              <p class="card-text">
                Amet sit amet dolor
                <strong>Lorem, ipsum dolor sit amet consectetur adipisicing.</strong>
              </p>
              <button type="button" class="w-100 btn btn-lg btn-danger">Find out More</button>
          </div>
        </div>
      </div>
    </div>


    </div>
  </div>
</div>

<div id="new-products">
  <div class="site-section bg-light">
    <div class="container">
      <div class="row">
        <div class="title-section text-center col-12">
          <h2 class="text-uppercase">New Products</h2>
        </div>
      </div>
      <div id="product-data" class="row">

      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="title-section text-center col-12">
        <h2 class="text-uppercase">Testimonials</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 block-3 products-wrap">
        <div class="nonloop-block-3 no-direction owl-carousel">

          <div class="testimony">
            <blockquote>
              <img src="{{ url_for('static', filename='img/person_1.jpg') }}" alt="Image"
                class="img-fluid w-25 mb-4 rounded-circle">
              <p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam
                tempore obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus
                ratione sit quaerat unde.&rdquo;</p>
            </blockquote>

            <p>&mdash; Sarah Peters</p>
          </div>

          <div class="testimony">
            <blockquote>
              <img src="{{ url_for('static', filename='img/person_2.jpg') }}" alt="Image"
                class="img-fluid w-25 mb-4 rounded-circle">
              <p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam
                tempore
                obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit
                quaerat
                unde.&rdquo;</p>
            </blockquote>

            <p>&mdash; Brent Easter</p>
          </div>

          <div class="testimony">
            <blockquote>
              <img src="{{ url_for('static', filename='img/person_3.jpg') }}" alt="Image"
                class="img-fluid w-25 mb-4 rounded-circle">
              <p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam
                tempore
                obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit
                quaerat
                unde.&rdquo;</p>
            </blockquote>

            <p>&mdash; Lucas Gallione</p>
          </div>

          <div class="testimony">
            <blockquote>
              <img src="{{ url_for('static', filename='img/person_4.jpg') }}" alt="Image"
                class="img-fluid w-25 mb-4 rounded-circle">
              <p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam
                tempore
                obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit
                quaerat
                unde.&rdquo;</p>
            </blockquote>

            <p>&mdash; Martina Van Dyck</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/components/NewProducts.js') }}"></script>

<script type="text/javascript">
  (function ($) {
    $(document).ready(function () {
      $('#new-products').NewProducts({ currencySymbol: "\u0024" });
    });
  })(jQuery);
</script>
{% endblock %}