<!-- Cookie Consent Modal -->
<div class="modal fade" id="cookieConsentModal" tabindex="-1" aria-labelledby="cookieConsentLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cookieConsentLabel">We use cookies</h5>
            </div>
            <div class="modal-body">
                This website uses cookies to ensure you get the best experience. By clicking "Accept", you consent to our use of cookies.
            </div>
            <div class="modal-footer">
                <button type="button" id="acceptCookies" class="btn btn-primary">Accept</button>
            </div>
        </div>
    </div>
</div>
