{% set navigation_bar = [
    (url_for('users.home'),      'home',     'bi-house',            'Home'),
    (url_for('users.profile'),   'profile',  'bi-person',           'Profile'),
    (url_for('users.security'),  'security', 'bi-lock',             'Security'),
    (url_for('users.orders'),    'orders',   'bi-bag',              'Orders'),
    (url_for('users.reviews'),   'reviews',  'bi-chat-square-text', 'Reviews'),
    (url_for('users.messages'),  'messages', 'bi-envelope',         'Messages')
] -%}

<div class="side-menu">
    <div class="list-group list-group-flush">
        {% for href, id, icon, caption in navigation_bar %}
            <a {% if id == active_page %} class="list-group-item list-group-item-action active" {% else %} class="list-group-item list-group-item-action" {% endif %} href="{{ href|e }}"><i class="bi {{ icon|e }}"></i> {{ caption|e }}
                {% if id == 'messages' %}
                    <span id="unread-message-count" class="badge bg-info">0</span>
                    <span class="visually-hidden">unread messages</span>
                {% endif %}
            </a>
        {% endfor %}
    </div>
</div>