{% set navigation_bar = [
    (url_for('users.home'),      'home',     'fa-home',              'Home'),
    (url_for('users.security'),  'security', 'fa-lock',              'Login & Security'),
    (url_for('users.profile'),   'profile',  'fa-user',              'Profile'),
    (url_for('users.orders'),    'orders',   'fa-shopping-cart',     'Orders'),
    (url_for('users.reviews'),   'reviews',  'fa-comment-alt',       'Reviews'),
    (url_for('users.messages'),  'messages', 'fa-envelope',          'Messages')
] -%}

<div class="side-menu">
    <div class="list-group list-group-flush">
        {% for href, id, icon, caption in navigation_bar %}
            <a {% if id == active_page %} class="list-group-item list-group-item-action active" {% else %} class="list-group-item list-group-item-action" {% endif %} href="{{ href|e }}"><i class="fas {{ icon|e }} fa-fw"></i> {{ caption|e }}
                {% if id == 'messages' %}
                    <span id="unread-message-count" class="badge badge-pill badge-info">0</span>
                    <span class="sr-only">unread messages</span>
                {% endif %}
            </a>
        {% endfor %}
    </div>
</div>